%h1 Listing posts


-# = link_to 'New Post', new_post_path if policy(@post).new?

- @posts.each do |post|
  .well
    .media
      -# %a.pull-left{:href => "#"}
      -#   %img.media-object{:src => "http://placekitten.com/150/150", :alt => 'Kitteh'}
      .media-body
        %h4.media-heading
          = link_to post.title, post
          = '(unpublished)' unless post.published?
        %p.tex.t-right
          By #{post.user.email}
        .truncated-post= post.content
        %ul.list-inline.list-unstyled
          %li
            %span
              %i.glyphicon.glyphicon-calendar
              = time_ago_in_words post.created_at
              ago

        = link_to 'Edit | ', edit_post_path(post) if policy(post).update?
        = link_to 'Read More', post
